<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>업로드 완료</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<h1>Upload completed...</h1>
	<div>
	<ul>
		<li><a href="download">받기</a></li>
		<li><a href="../upload.html">다시 올리기</a></li>
	</ul>
	</div>
	<script src="../js/jquery-1.9.1.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>
